@model SecureChat.PL.Models.ChatViewModel;

@{
    ViewBag.Title = "Log In";
    Layout = "_UserLayout";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try { Typekit.load({ async: true }); } catch (e) { }</script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<link href="~/css/chatStyle.css" rel="stylesheet" />
<script type="text/javascript">
    function getMessages(string to) {
        $("#contacts").click(function () {
            $.ajax({
                url: '/Chat/Messages',
                type:"GET"
            })
    }
</script>
<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                @if (Model.CurrentUser.Sex == "Male")
                {
                    <img id="profile-img" src="https://st3.depositphotos.com/1007566/13024/v/950/depositphotos_130240748-stock-illustration-young-man-avatar-character.jpg?fbclid=IwAR1sulWDm3KME5pESqHvFM2Ngg-mYLIKbjLns7a1lDnHRP_j5Zk3xb4cjz8" class="online" alt="" />
                    <p>@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</p>
                    <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                }
                else
                {
                    <img id="profile-img" src="https://cs7.pikabu.ru/post_img/big/2018/04/18/8/1524057007156326200.jpg" class="online" alt="" />
                    <p>@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</p>
                    <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                }
                <div id="status-options">
                    <ul>
                        <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
                        <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
                        <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
                        <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
                    </ul>
                </div>
                <div id="expanded">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <a asp-action="LogOut" asp-controller="Account">Log Out</a>
                </div>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />
        </div>
        <div id="contacts">
            <ul>
                @foreach (var user in Model.Users)
                {
                    <li class="contact btn btn-block">
                        <a  asp-action="GetMessagesByUser"
                                           asp-controller="Chat" asp-route-Id="@user.Id" class="wrap d-block">
                            <span class="contact-status online"></span>
                            @if (user.Sex == "Male" && user.IsDeleted==false)
                            {
                                <div class="d-flex">
                                    <img src="https://st3.depositphotos.com/1007566/13024/v/950/depositphotos_130240748-stock-illustration-young-man-avatar-character.jpg?fbclid=IwAR1sulWDm3KME5pESqHvFM2Ngg-mYLIKbjLns7a1lDnHRP_j5Zk3xb4cjz8" class="mr-3" alt="" />
                                    <div class="meta">
                                            <p class="name">@user.FirstName @user.LastName</p>
                                    </div>
                                </div>
                            }
                            else if(user.IsDeleted==false)
                            {
                                <div class="d-flex">
                                    <img src="https://cs7.pikabu.ru/post_img/big/2018/04/18/8/1524057007156326200.jpg" class="mr-3" alt="" />
                                    <div class="meta">

                                            <p class="name">@user.FirstName @user.LastName</p>
                                    </div>
                                </div>
                            }
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div id="bottom-bar">
            <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
            <form asp-action="Delete" asp-controller="Account" asp-route-Id="@Model.CurrentUser.Id" metod="post">
                <button id="settings"><i class="fa fa-times"></i><span>Remove account</span></button>
            </form>
        </div>
    </div>
    <div class="content">
        <div class="contentHeder">
            <div class="d-flex justify-content-start">
                @if (Model.ToUser.FirstName != null)
                {
                    if (Model.ToUser.Sex == "Male")
                    {
                        <img src="https://st3.depositphotos.com/1007566/13024/v/950/depositphotos_130240748-stock-illustration-young-man-avatar-character.jpg?fbclid=IwAR1sulWDm3KME5pESqHvFM2Ngg-mYLIKbjLns7a1lDnHRP_j5Zk3xb4cjz8" class="mr-2" alt="Alternate Text" />
                    }
                    else if (Model.ToUser.Sex == "Female")
                    {
                        <img src="https://cs7.pikabu.ru/post_img/big/2018/04/18/8/1524057007156326200.jpg" class="mr-2" alt="Alternate Text" />
                    }
                    <p>@Model.ToUser.FirstName @Model.ToUser.LastName</p>

                }

            </div>
        </div>
        <form asp-action="SendMessage" asp-controller="Chat" method="post">
            <div class="message-input">
                <div class="wrap d-flex">
                    <textarea asp-for="MessageBody" class="form-control" placeholder="Write your message..."></textarea>
                    <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script>
    $(".messages").animate({ scrollTop: $(document).height() }, "fast");

    $("#profile-img").click(function () {
        $("#status-options").toggleClass("active");
    });

    $(".expand-button").click(function () {
        $("#profile").toggleClass("expanded");
        $("#contacts").toggleClass("expanded");
    });

    $("#status-options ul li").click(function () {
        $("#profile-img").removeClass();
        $("#status-online").removeClass("active");
        $("#status-away").removeClass("active");
        $("#status-busy").removeClass("active");
        $("#status-offline").removeClass("active");
        $(this).addClass("active");

        if ($("#status-online").hasClass("active")) {
            $("#profile-img").addClass("online");
        } else if ($("#status-away").hasClass("active")) {
            $("#profile-img").addClass("away");
        } else if ($("#status-busy").hasClass("active")) {
            $("#profile-img").addClass("busy");
        } else if ($("#status-offline").hasClass("active")) {
            $("#profile-img").addClass("offline");
        } else {
            $("#profile-img").removeClass();
        };

        $("#status-options").removeClass("active");
    });

    function newMessage() {
        message = $(".message-input input").val();
        if ($.trim(message) == '') {
            return false;
        }
        $('<li class="sent"><img src="http://emilcarlsson.se/assets/mikeross.png" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
        $('.message-input input').val(null);
        $('.contact.active .preview').html('<span>You: </span>' + message);
        $(".messages").animate({ scrollTop: $(document).height() }, "fast");
    };

    $('.submit').click(function () {
        newMessage();
    });

    $(window).on('keydown', function (e) {
        if (e.which == 13) {
            newMessage();
            return false;
        }
    });
//# sourceURL=pen.js
</script>
